.app-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-size: cover;
  height: 100vh;
  width: 80%;
  margin-top: 40px;
  margin-left: 40px;
}

.thumbnail-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0px;
  flex-wrap: wrap;
}
.image {
  width: 100%;
}
.heading {
  font-size: 40px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #1e293b;
}
.description {
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 500;
  color: #64748b;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 60px;
  }
  .description {
    font-size: 40px;
  }
}
